In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("learningSet.csv")

C:\Users\aci\AppData\Local\Temp\ipykernel_20888\750623625.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("learningSet.csv")

In [3]:
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [4]:
df.isnull().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [5]:
drop_list=[]

In [6]:
drop_list.append("OSOURCE")

In [7]:
drop_list.append("ZIP")

In [8]:
null = pd.DataFrame(df.isna().sum()*100/len(df), columns=['percentage'])

In [9]:
null

          percentage
ODATEDW     0.000000
OSOURCE     0.000000
TCODE       0.000000
STATE       0.000000
ZIP         0.000000
...              ...
MDMAUD_R    0.000000
MDMAUD_F    0.000000
MDMAUD_A    0.000000
CLUSTER2    0.138347
GEOCODE2    0.138347

[481 rows x 1 columns]

In [10]:
null.sort_values('percentage', ascending = False).head(50)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
RAMNT_4    99.705488
RAMNT_6    99.186685
RDATE_6    99.186685
RAMNT_15   92.388798
RDATE_15   92.388798
RDATE_23   91.763091
RAMNT_23   91.763091
RDATE_20   91.732696
RAMNT_20   91.732696
RAMNT_7    90.677273
RDATE_7    90.677273
RAMNT_17   90.146942
RDATE_17   90.146942
RDATE_21   90.029556
RAMNT_21   90.029556
RAMNT_10   89.035970
RDATE_10   89.035970
RDATE_13   87.160944
RAMNT_13   87.160944
NUMCHLD    87.018404
RDATE_11   84.551209
RAMNT_11   84.551209
RDATE_19   83.359535
RAMNT_19   83.359535
RAMNT_9    82.461326
RDATE_9    82.461326
RDATE_24   81.409047
RAMNT_24   81.409047
RAMNT_18   79.270951
RDATE_18   79.270951
RAMNT_22   78.123297
RDATE_22   78.123297
RAMNT_8    77.495493
RDATE_8    77.495493
RDATE_14   75.561774
RAMNT_14   75.561774
RAMNT_12   73.064185
RDATE_12   73.064185
RAMNT_16   71.707961
RDATE_16   71.707961
ADATE_15   68.625540
ADATE_23   58.975810
MBCOLECT   55.458433
MAGFAML    55.395548
MBCRAFT    55.395548

In [11]:
for index, row in null.iterrows():
    if row['percentage'] > 15:
        drop_list.append(index)

In [12]:
drop_list

['OSOURCE',
 'ZIP',
 'AGE',
 'NUMCHLD',
 'INCOME',
 'WEALTH1',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'WEALTH2',
 'ADATE_5',
 'ADATE_10',
 'ADATE_13',
 'ADATE_14',
 'ADATE_15',
 'ADATE_16',
 'ADATE_17',
 'ADATE_18',
 'ADATE_19',
 'ADATE_20',
 'ADATE_21',
 'ADATE_22',
 'ADATE_23',
 'ADATE_24',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_8',
 'RDATE_9',
 'RDATE_10',
 'RDATE_11',
 'RDATE_12',
 'RDATE_13',
 'RDATE_14',
 'RDATE_15',
 'RDATE_16',
 'RDATE_17',
 'RDATE_18',
 'RDATE_19',
 'RDATE_20',
 'RDATE_21',
 'RDATE_22',
 'RDATE_23',
 'RDATE_24',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_8',
 'RAMNT_9',
 'RAMNT_10',
 'RAMNT_11',
 'RAMNT_12',
 'RAMNT_13',
 'RAMNT_14',
 'RAMNT_15',
 'RAMNT_16',
 'RAMNT_17',
 'RAMNT_18',
 'RAMNT_19',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_22',
 'RAMNT_23',
 'RAMNT_24']

In [13]:
for col in drop_list:
    df = df.drop(col, axis=1)

In [15]:
print(df['GENDER'].value_counts())
df['GENDER'] = df['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [16]:
print(sorted(df['GENDER'].unique()))

[' ', 'A', 'C', 'F', 'J', 'M', 'U']

In [17]:
def map_gender(value):
    if value not in ['m', 'f']:
        return 'O'
    return value

In [18]:
df["GENDER"] = df["GENDER"].applymap(map_gender)

AttributeError: 'Series' object has no attribute 'applymap'

0        F
1        M
2        M
3        F
4        F
        ..
95407    M
95408    M
95409    M
95410    F
95411    F
Name: GENDER, Length: 95412, dtype: object